.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.custom-modal {
    width: 80%;
    max-width: 800px;
    background: #fbf8f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 30px;
    color: #333;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    max-height: 90vh;
}

.custom-modal h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff4d4d;
    color: white;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.close-btn:hover {
    background: #ff1a1a;
    transform: rotate(90deg);
}

.event-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.event-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.event-details p {
    font-size: 16px;
    margin: 5px 0;
}

.event-details p strong {
    color: #5e0001;
}

.participa-btn {
    width: 100%;
    padding: 15px;
    background: #5e0001;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-align: center;
}

.participa-btn:hover {
    background: #933c3a;
}
