.timeline {
    padding: 20px;
  }
  
  .date-group {
    margin-bottom: 30px;
  }
  
  .date-group h3 {
    font-size: 1.5em;
    color: #5E0001;
  }
  
  .event {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
  }
  
  .event h4 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .event p {
    margin: 5px 0;
    font-size: 1em;
  }
  
  .event small {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: gray;
  }
  